#navitem1 {
    color: #ffffff;
}

#navitem2 {
    color: #ffffff;
}

#navitem3 {
    color: #ffffff;
}

#navitem4 {
    color: #ffffff;
}

#navitem5 {
    color: #ffffff;
}

.portfolio-logo {
    font-family: roboto;
    font-size: 18px;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: #c30266;
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio-website-home {
    background-color:hwb(267 85% 6%);
}

.portfolio-image {
    width: 280px;
    border-radius: 500px;
}

.portfolio-website-home-mainheading {
    font-family: roboto;
    font-size: 50px;
    color: #aa1c1c;
}

.name {
    color:#0b0a0c;
}

.portfolio-website-home-description {
    color: #da3248;
    font-size: 32px;
    font-family: roboto;
}
.portfolio-website-home-description1{
    color: #0f0e0f;
    font-size: 20px;
    font-family: roboto;
}
.home-btn {
    width: 200px;
    border-radius: 8px;
    border-width: 0px;
    font-size: 28px;
    background-color: #57be1b;
    color: #c52828;
    margin-bottom: 120px;
    padding: 10px;
}
.portfolio-website-aboutme {
    background-color: #562fb1;
}

.sec-main-heading {
    color: #f0ecec;
    font-size: 38px;
    font-weight: bold;
    font-family: roboto;
}

.aboutme-description {
    font-size: 18px;
    font-family: roboto;
    color: #d4cdd2;
}
.aboutme-education{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: roboto;
}
.edu-list-item{
    color:#cdd0d4;
    font-family:roboto;
}
.portfolio-website-skills {
    background-color:#77c5df;
}
.sec1-heading{
    font-size:50px;
    font-family:roboto;
    font-weight:bold;
}

.skills-container {
    background-color: #323f4b;
    border-radius: 5px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 32px;
    height: 140px;
    width: 150px;
}

.skills-label {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.skills-image {
    height: 82px;
    width: 80px;
}
.skill-desc{
    background-color:#323f4b ;
    padding:10px;
    color:#cdd0d4;
    font-family:roboto;
    border-radius:10px;
    margin-top:10px;
}
.portfolio-website-projects {
    background-color: #323f4b;
}
.project-container{
    color:#77df96;
    border-style:dashed;
    padding:10px;
    margin:10px;
}
.project-name{
    color:#cdd0d4;
    font-family:roboto;
    font-weight:bold;
}
.project-desc{
    color:#cdd0d4;
    font-family:roboto;
}
.portfolio-contact-me{
    background-color:#77df96;
    text-align:center;
    font-family:roboto;
}
.contact-details{
    font-size:18px;
    font-weight:bold;
}
.icons{
    color:#ffffff
}
